
mercados/av_key.txt
mercados/fred_key.txt
scripts/configs.ipynb
.vs/Macrofinancial-dashboard/FileContentIndex/e6e1bd54-3fdf-4e4c-8abe-d9ae74434a7b.vsidx
.vs/Macrofinancial-dashboard/FileContentIndex/read.lock
.vs/Macrofinancial-dashboard/v17/.suo
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
